@import 'palette';
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $secondary-text-color;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.app-header {
  background-color: $primary-color;
  color: $primary-color-text;
  height: 80px;
  border-bottom: 2px solid #fff59d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.content {
  background-color: #fafafa;
  line-height: 1.8;
  padding: 16px;
  overflow-y: scroll;
  flex: 1;
}

.app-footer {
  height: 80px;
  background-color: $primary-color;
  color: $primary-color-text;
  border-top: 1px solid #e6e6e6;
  display: flex;
  & > a {
    flex: 1;
    padding: 15px;
    text-align: center;
    color:rgba(0, 0, 0, 0.5);
    i {
      display: block;
      font-size: 25px;
      color: white;
      padding-bottom: 10px;
      text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.app-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
}